.profile {
	position: relative;
	background:#F1E5D1;
	min-height: 100vh;
}
.profile header {
	position: relative;
	color:#fff;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#DC5F00;
	font-size:3rem;
	margin-bottom:40px;
}
.profile header svg {
	color:#fff;
	position: absolute;
	top:5%;
	right: 5%;
	font-size: 3rem;
	cursor: pointer;
}	
/*============*/
.content {
	width:60%;
	margin:0 auto;
	min-height: 300px;
	border:1px solid #ccc;
	background: #fff;
	padding:10px;
	border-radius: 4px;
}
.link_container {
	text-align: center;
	font-size: 1.4rem;
}
.link_container a {
	color:#DC5F00;
}
.demande_date {
	display: flex;
	align-items: center;
	margin-top:20px;
}
.demande_date > p {
	margin-right:10px;
}
.submit {
	width:100%;
	background:#003285;
	color:#fff;
	border:none;
	height: 50px;
	font-size: 1.4rem;
	border-radius:6px;
	cursor: pointer;
	margin-top:20px;
}
.doc {
	display: flex;
	align-items:center;
}
.loading_anim {
	position: fixed;
	z-index: 4;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	height: 200px;
	width:400px;
	border:1px solid grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.loading_anim p {
	font-size: 1.2rem;
	margin-top:20px;
}
.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #F1E5D1;
	line-height: 50px;
}
/*================*/
.demand_element {
	display: flex;
	align-content: center;
	justify-content: space-between;
	margin:8px 0;
	background:#FFBF78;
	padding:8px 4px;
	border-radius:4px;
}
.demand_element > div {
	display: flex;
	align-items: center;
}
.demand_element > p {
	display: flex;
	justify-content: center;
}
/*.demand_element * {*/
/*	border:1px solid red;	*/
/*}*/
.dem_num {
	width:20px;
}
.dem_title {
	width:200px;
}
.dem_status {

}
.dem_date {
	width:140px;
}
.accept {
	color:green;
}
.refuse {
	color:red;
}
.traitment {
	color:grey;
}