.profile {
	background:#F1E5D1;
	min-height: 100vh;
}
.profile header {
	color:#fff;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#DC5F00;
	font-size:3rem;
	margin-bottom:40px;
}
/*============*/
.content {
	width:60%;
	margin:0 auto;
	min-height: 80vh;
/*	margin-top:20px;*/
}
.demande_date {
	display: flex;
	align-items: center;
	margin-top:20px;
}
.demande_date > p {
	margin-right:10px;
}
.submit {
	width:100%;
	background:#003285;
	color:#fff;
	border:none;
	height: 50px;
	font-size: 1.4rem;
	border-radius:6px;
	cursor: pointer;
	margin-top:20px;
}
.doc {
	display: flex;
	align-items:center;
}
.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #F1E5D1;
	line-height: 50px;
}
/*================*/
.demand_element {
	display: flex;
	align-content: center;
	justify-content: space-between;
	margin:8px 0;
	background:#FFBF78;
	padding:8px 4px;
	border-radius:4px;
}
.demand_element > div {
	display: flex;
	align-items: center;
}
.demand_element > p {
	display: flex;
	justify-content: center;
}
/*.demand_element * {*/
/*	border:1px solid red;	*/
/*}*/
.dem_num {
	width:20px;
}
.dem_title {
	width:200px;
}
.dem_status {

}
.dem_date {
	width:140px;
}